name: Attach Full Source to Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  upload-source:
    runs-on: ubuntu-latest

    env:
      VERSION: ${{ github.ref_name }}
      TARBALL: piqtree-${{ github.ref_name }}.tar.gz


    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Make Tarball
        run: |
          tar czf "../$TARBALL" \
            --transform "s,^\.,piqtree-${VERSION}," \
            --exclude-vcs .
          mv "../$TARBALL" "$TARBALL"

      - name: Compute SHA256 Checksum
        run: sha256sum "$TARBALL" > "$TARBALL.sha256"

      - name: Upload Full Source and SHA256 to GitHub Release
        uses: softprops/action-gh-release@v2.4.2
        with:
          files: |
            ${{ env.TARBALL }}
            ${{ env.TARBALL }}.sha256
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}