name: Build Docs

concurrency:
  group: docs-build-${{ github.ref }}
  cancel-in-progress: true
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - '.readthedocs.yaml'
      - 'mkdocs.yml'
      - 'rtd_get_docs.py'

permissions:
  contents: read

jobs:
  build-iqtree:
    name: Fetch or Build IQ-TREE Static Library
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: recursive

      - id: build
        uses: ./.github/actions/build-iqtree
        with:
          os: ubuntu-latest
    
    outputs:
      iqtree-sha: ${{steps.build.outputs.iqtree-sha}}
          
  build-docs:
    runs-on: ubuntu-latest
    needs: build-iqtree
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: recursive

      - uses: ./.github/actions/setup-piqtree
        with:
          python-version: "3.13"
          cache-key: libiqtree-ubuntu-latest-${{ needs.build-iqtree.outputs.iqtree-sha }}
      
      - name: Install Docs Dependencies
        run: |
          pip install .[doc]

      - name: Build Documentation
        run: |
          mkdocs build
        working-directory: ${{ github.workspace }}

      - name: Upload Documentation Artifact
        uses: actions/upload-artifact@v5
        with:
          name: piqtree-docs-html
          path: site
